.form-control:focus{
    box-shadow: 0 0 10px  rgb(255, 8, 0) !important ;
    border: 2px solid rgb(244, 8, 0);
    color: rgb(255, 8, 0);
}

.margenes{

    margin: 20px 30px;
}

.titulo{
    font: bold 175% sans-senf;
} 

.bordes{
    margin: 20px 30px;
    border: 1px solid rgb(129, 124, 131);
}

.api {  
    text-align:center;
    width: 100%;
}

.container {
    margin: 0 !important; 
    width: 100% !important;
    max-width: 127em;
}

.col{
    text-align: center;
}
.foot{
    background-color: black; 
}