.Titulos{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 30px;
}

.margen{
    margin-top: 3em;
    margin-bottom: 3em;
}

.margenTitulos{
    margin-top: 5em;
    margin-bottom: 3em;
}

.margenDesarrolladores{
    margin-top: 5em;
    margin-bottom: 3em;
}

#Mario{
    width: 300px;
    height: 300px;
}

#promociones{

    text-align: center;
    margin: 3rem;
    padding: 2rem;
    
}

#aas {
    width: 73em !important;
    height: 37em !important;
}

h2 p{
    margin: 1em 10px;
    text-align: left;
}

.fixx{
    margin: 1em;
}

.container {
    max-width: 180em !important;
}

#nav_text{
    color: black;
    font-size: 25px;
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }
   
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
    .MultiCarousel .MultiCarousel-inner .item { float: left;}
    .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

    .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }