body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}


.contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.form__I{
    margin: 1em !important;
    align-content: center;
    border: 1px solid #1a2537;
}

.correo{
    max-width: 100%;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

p{
    text-align: center;
}

@media(min-width:768px)
{
    .formulario{
        margin: 5em 43em;
        width: 500px;
        height: 30em;
        border-radius: 2%;
    }
}
