.Texto{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#imgLogo{
    width: 180px;
    height: 50px;
}

.first_nav{
    color:#ffffff;
}

.btn-primary{
    border: 2px solid white;
    color: white;
    background-color: red;

}

.btn-primary:hover{
    border: 2px solid black;
    color: black;
    background-color: red;

}

.alinear{
    display: flex;
    justify-content: center;
}

#texto_footer {
    color:#ffffff;
}

a{
    text-decoration:none
}

#texto_footera {
    color:#FF0000;
    font-weight: bold;
}

.background {
    background-color: #EB0000;
    padding: 10px;
}

.background2 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: auto;
}

#image-gallery {
 
    height: 650px !important;
    text-align: center;
}

.carousel-inner{
    height: 650px !important;
    text-align: center;
}
/* .imgCartel {
    width: 100%; encontrar funcion
    height: 70%;
}*/
